# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "2b852b3694ab8008bb24e25f1f7fc5d4"
name = "Melo P&G Loyalty App"
application_url = "https://melo-pet-and-garden-loyalty-app.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,write_customers,read_customers"

[auth]
redirect_urls = [ "https://melo-pet-and-garden-loyalty-app.onrender.com/api/auth" ]

[app_proxy]
url = "https://melo-pet-and-garden-loyalty-app.onrender.com/api/proxy"
subpath = "custom-invoice"
prefix = "apps"